<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You created ""<%= @post.title %>"</h1>
    <p>
      Whenever this post is commented on you will receive an email.
    </p>
  </body>
</html>
