<% if @post.vote? %>
  $('.js-votes-count').html("<%= pluralize(@post.votes.count, 'votes') %>");
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
